<div class="container">
  <div class="searchAndAdd">
    <div class="searchWrapperBlock">
        <label>Фильтр:</label>
        <input id="searchInput" class="searchAndAddInput" type="text" placeholder="Поиск по задачи" (input)="filterTask($event)" >
    </div>
    <div class="addWrapperBlock">
        <div class="addContainer">
          <input id="addInput" class="searchAndAddInput" type="text" placeholder="Введите название задачи" (input)="newTaskTitleF($event)">
          <button id="addButton" (click)="addNewTask()">Добавить задачу</button>
        </div>
    </div>
  </div>
  <div class="taskTable">
    <div class="taskTableHeader">
      <div class="taskTableHeaderLeft">
        <div>
          <p>Задачи</p>
        </div>
      <!-- <div>
         <p>Дата</p>
       </div>-->
      </div>
      <div class="taskTableHeaderRight">
        <p>Выполнено</p>
      </div>
    </div>
    <div class="taskTableBody">
      <ng-template [ngIf]="tasks.length>0">
        <app-task  *ngFor="let task of tasks|taskFilter:searchStr " [taskItem]="task"></app-task>
      </ng-template>
      <ng-template [ngIf]="tasks.length===0">
        <p class="not_task">Нет данных</p>
      </ng-template>
    </div>
  </div>
</div>
<app-modal></app-modal>
